VITE_API_URL=http://localhost:4000
VITE_APP_NAME=FrontAgente
VITE_GH_PAGES_BASE=/
VITE_FEATURE_DASHBOARD=false
VITE_SUPPLIERS_TEST_MODE=false
VITE_SUPPLIERS_DEBUG=false
VITE_SCANNER_TICKET_PRINT_ENABLED=true
VITE_SCANNER_TICKET_PRINT_MODE=scheme
VITE_SCANNER_TICKET_STORE_NAME=PILOTO AGENTE
VITE_SCANNER_TICKET_FEED_LINES=30
VITE_SCANNER_TICKET_PAPER_WIDTH=32
VITE_SCANNER_TICKET_LEFT_PADDING=0
