PORT=4000
CLIENT_URL=http://localhost:5173
JWT_SECRET=super-secret-key
ACCESS_TOKEN_TTL=30d
REFRESH_TOKEN_TTL_DAYS=30
OBJECTIVES_STANDARD_AMOUNT=12000
OBJECTIVES_RECORD_EXTRA_AMOUNT=2000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=agente_db
